@page
@model SSRWebApp.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="my-4 text-center">登入成功</h2>
            <p>歡迎, @Model.Account!</p>
        </div>
    </div>
</div>
